namespace: authentik

image:
  repository: ghcr.io/goauthentik/server
  tag: "2025.10.3"
  pullPolicy: IfNotPresent

service:
  name: authentik-server
  port: 80

ingress:
  domainPrefix: auth

postgresql:
  image:
    tag: latest
  auth:
    username: authentik
    database: authentik
    existingSecret: authentik-secrets
    secretKeys:
      userPasswordKey: POSTGRESQL_PASSWORD

redis:
  image:
    tag: latest
  auth:
    enabled: false
