namespace: authentik

service:
  name: authentik-server
  port: 80

ingress:
  domainPrefix: auth

authentik:
  global:
    namespaceOverride: authentik
    env:
      - name: AUTHENTIK_SECRET_KEY
        valueFrom:
          secretKeyRef:
            name: authentik-secrets
            key: SECRET_KEY
      - name: AUTHENTIK_POSTGRESQL__PASSWORD
        valueFrom:
          secretKeyRef:
            name: authentik-secrets
            key: POSTGRESQL_PASSWORD

  authentik:
    server:
      service:
        servicePortHttp: 80
    error_reporting:
      enabled: false

  postgresql:
    enabled: true
    auth:
      username: authentik
      database: authentik
      existingSecret: authentik-secrets
      secretKeys:
        userPasswordKey: POSTGRESQL_PASSWORD

  redis:
    enabled: true
    auth:
      enabled: false
